body {
    font-family: Verdana,sans-serif;
    margin: 0;
    /* font-family: "Lato", sans-serif; */
  }
  
  .navbar {
    /* margin: 0; */
    overflow: hidden;
    background-color: #730a0a;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    text-align: center;
    display: inline-flex;
    color: #eeeeee;
    padding: 15px;
    padding-left: 14%;
    font-weight: bolder;
    text-decoration: none;
    font-size: 25px;
  }
  
  .navbar a:hover {
    color: #1c87c9;
  }
  
  
  .sidenav {
    height: 85%;
    width:25%;
    position: fixed;
    z-index: 1;
    top: 65px;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 30px;
    overflow-X: scroll;
  }
  
  .sidenav a {
    /* text-align: ; */
    padding: 15px 8px 20px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(4, 4, 37);
    /* border: 2px solid black; */
    
    display: block;
    
  }
  
  .sidenav a:hover {
    color: black;
    background-color: #ccc;
  }
  
  .main {
    margin-left: 35%; /* Same as the width of the sidenav */
    font-size: 25px; /* Increased text to enable scrolling */
    padding: 29px 10px;
  }
  
  .main .diploma h2{
     padding-top: 60px;
  }
  
  
   .main section{
    padding-top: 60px;
  }
  
  @media(max-width: 398px) {
    .sidenav {
      padding-top: 15px;
      height: 80%;
      top: 15%;

    }
    .sidenav a {font-size: 20px;}
    .main h2{
      font-size: 25px;
    }
    .main{
      float: left;
    }
    .main section{
      padding-top: 20%;
    }
    .navbar a{
      font-size: 20px;
    }
  }
  @media  (max-width:991px){
    .sidenav{
      top: 20%;
    }
  }